<header class="site-header">

  <div role="navigation" class="navbar navbar-default navbar-fixed-top" id="nav-strip">
	<div class="bottom-nav ">
	  <div class="row">
	    <div class="container">
	      <select style="display:none;" id="source">
			  <option value="EN" selected="selected"></option>
			
			  <option value="DE"></option>
			  <option value="FR"></option>
			 
		      </select>
		      <dl class="dropdown nav navbar-nav navbar-right">
		       <div class="dp"></div>
		    </dl> 
	      <div class="col-sm-3">
		<a class="navbar-brand" href="http://www.automic.com/">
		  <img class="image-logo" src="http://www.automic.com/assets/uploads/theme/white_logo.png" alt="" style="height: 30px;">
		</a>
		
	      </div>
	      <div class="col-sm-9">
		<div class="navbar-header">
		  <button data-target=".topheader" data-toggle="collapse" class="navbar-toggle" type="button">
		    <span class="sr-only">Toggle navigation</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		  </button>
		</div>
		<div style=" position: relative; top: 20px;" class="navbar-collapse topheader collapse">
		 <!--/ 	<span class="glyphicon glyphicon-user start"></span>-->
		<ul class="nav navbar-nav front">
                  <li><a href="http://automic.com/products">Products</a></li>
                  <li><a href="http://automic.com/en/resources">Resources</a></li>
                  <li><a href="http://docs.automic.com">Documenation</a></li>
                  <li><a href="http://community.automic.com" target="_blank">Community</a></li>
                  <li><a href="https://github.com/Automic-Community/" title="GitHub" target="_blank"><img style="max-height: 50px; margin-top: -10px;" src="http://2515f77b98275c9472dc-6e270f88c81ed2e83631a388f81e6c55.r5.cf2.rackcdn.com/automic-github.png"></a></li>
                </ul>
                

				
		</div><!--/.nav-collapse -->
              </div><!--/.span-12 -->
	    </div><!--/.row -->
	  </div>
      </div>
    </div>
    
</header>

