
<script type="text/javascript">
/*** Required Settings: Edit BEFORE pasting into your web page ***/
var vanilla_forum_url = 'https://community.automic.com/'; // The full http url & path to your vanilla forum

/*** Optional Settings: customize the format of the comment counts. Html is allowed. */
// var vanilla_comments_none = 'No Comments';
// var vanilla_comments_singular = '1 Comment';
// var vanilla_comments_plural = '[num] Comments';

/*** DON'T EDIT BELOW THIS LINE ***/
(function() {
   var vanilla_count = document.createElement('script');
   vanilla_count.type = 'text/javascript';
   vanilla_count.src = vanilla_forum_url + '/js/count.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(vanilla_count);
})();
</script>
