{% include home/tag-select.html %}

<div id="content" class="row">
    <div class="columns">
        
        <section class="tagged tag-General">
            <h2>General</h2>
            
        
            <article class="tagged tag-General">
                <a href="http://automic-community.github.io/mail_solution/" target="_blank">
                    <h4>Mail Solution</h4>
                </a>
                <div class="art_desc">
                    <p>Incorporate your existing IMAP mail server to interact with the Automation Engine using the RA Mail Solution. </p>
                </div>
                <div class="van_comment_count">
                    <a href="http://automic-community.github.io/mail_solution/#vanilla_comments" vanilla-identifier="mail_solution/">Comments</a>
                </div>
            </article>
        
        </section>
    
        <section class="tagged tag-Templates">
            <h2>Templates</h2>
            
            <article class="tagged tag-Templates tag-WebServices">
                <a href="http://automic-community.github.io/WebService-Templates/" target="_blank">
                    <h4>WebService REST Templates</h4>
                </a>
                <div class="art_desc">
                    <p>Template Jobs for various REST Web Services. Twitter, Rackspace and more...</p>
                </div>
                <div class="van_comment_count">
                    <a href="http://automic-community.github.io/WebService-Templates/#vanilla_comments" vanilla-identifier="Webservice-Templates/">Comments</a>
                </div>
            </article>
            
            <article class="tagged tag-Templates tag-WebServices">
                <a href="http://automic-community.github.io/ae_sharepoint_2010_SOAP_templates" target="_blank">
                    <h4>SharePoint 2010 SOAP API Templates</h4>
                </a>
                <div class="art_desc">
                    <p>Web Service 3.0 Job Templates for SharePoint 2010 using SOAP for the Automation Engine</p>
                </div>
                <div class="van_comment_count">
                    <a href="http://automic-community.github.io/ae_sharepoint_2010_SOAP_templates/#vanilla_comments" vanilla-identifier="ae_sharepoint_2010_SOAP_templates/">Comments</a>
                </div>
                
            </article>
            
            <article class="tagged tag-Templates">
                <a href="http://automic-community.github.io/ae_hadoop_on-premise_templates" target="_blank">
                    <h4>Hadoop On-Premise Templates </h4>
                </a>
                <div class="art_desc">
                    <p>On-Premise Linux Job Templates for running Hadoop Jobs - Hive, Pig, HDFS and Sqoop </p>
                </div>
                <div class="van_comment_count">
                    <a href="http://automic-community.github.io/ae_hadoop_on-premise_templates/#vanilla_comments" vanilla-identifier="ae_hadoop_on-premise_templates/">Comments</a>
                </div>
            </article>
            
        </section>
    
    
        <section class="tagged tag-Integrations">
            <h2>Integrations</h2>
            
            <article class="tagged tag-Integrations tag-WebServices tag-Templates tag-AE">
                <a href="http://automic-community.github.io/aws_ec2_webform" target="_blank">
                    <h4>Self-Service Provisioning of AWS EC2 Instances </h4>
                </a>
                <div class="art_desc">
                    <p>Webform for AWS EC2 Provisioning with Windows CallAPI</p>
                </div>
                <div class="van_comment_count">
                    <a href="http://automic-community.github.io/aws_ec2_webform/#vanilla_comments" vanilla-identifier="aws_ec2_webform/">Comments</a>
                </div>
            </article>
            
        </section>
        
        <section class="tagged tag-AE">
            <h2>Automation Engine</h2>
        
            
            
            <article class="tagged tag-AE">
                <a href="http://automic-community.github.io/ae_database_maintenance" target="_blank">
                    <h4>AE Database Maintenance</h4>
                </a>
                <div class="art_desc">
                    <p>Object Templates for Database Maintenance of the Automation Engine database </p>
                </div>
                <div class="van_comment_count">
                    <a href="http://automic-community.github.io/ae_database_maintenance/#vanilla_comments" vanilla-identifier="ae_database_maintenance/">Comments</a>
                </div>
            </article>
            
        </section>
        
        <section class="tagged tag-DU">
            <h2>Dollar Universe</h2>
        
            <p>Nothing here yet...</p>
            
        </section>
        
        <section class="tagged tag-Analytics">
            <h2>Analytics</h2>
        
            <p>Nothing here yet...</p>
            
        </section>
        
        <section class="tagged tag-AM">
            <h2>Applications Manager</h2>
        
            <p>Nothing here yet...</p>
            
        </section>
        
        <section class="tagged tag-WebServices">
            <h2>Web Services</h2>
        
            <p>Nothing here yet...</p>
            
        </section>
        
    </div>
</div>