{% include home/tag-select.html %}

<div id="content" class="row">
    <div class="columns">
        
        <section class="tagged tag-General">
            <h2>General</h2>
            
            <article class="tagged tag-General">
                <a href="https://github.com/Automic-Community/ae_database_maintence" target="_blank">
                    <h4>AE Database Maintenance</h4>
                </a>
                <p>Object Templates for Database Maintainence of the Automation Engine database </p>
            </article>
        
        </section>
    
        <section class="tagged tag-Templates">
            <h2>Templates</h2>
            
            <article class="tagged tag-Templates tag-WebServices">
                <a href="https://github.com/Automic-Community/WebService-Templates" target="_blank">
                    <h4>WebService REST Templates</h4>
                </a>
                <p>Template Jobs for various REST Web Services</p>
            </article>
            
        </section>
    
    
        <section class="tagged tag-Integrations">
            <h2>Integrations</h2>
            
            <article class="tagged tag-Integrations tag-WebServices tag-Templates tag-AE">
                <a href="https://github.com/Automic-Community/aws_ec2_webform" target="_blank">
                    <h4>Self-Service Provisioning of AWS EC2 Instances </h4>
                </a>
                <p>Webform for AWS EC2 Provisioning with Windows CallAPI</p>
            </article>
            
        </section>
        
        <section class="tagged tag-AE">
            <h2>Automation Engine</h2>
        
            <article class="tagged tag-Templates tag-AE">
                <a href="https://github.com/Automic-Community/ae_hadoop_on-premise_templates" target="_blank">
                    <h4>Hadoop On-Premise Templates </h4>
                </a>
                <p>On-Premise Linux Job Templates for running Hadoop Jobs - Hive, Pig, HDFS and Sqoop </p>
            </article>
            
        </section>
        
        <section class="tagged tag-DU">
            <h2>Dollar Universe</h2>
        
            <p>Nothing here yet...</p>
            
        </section>
        
        <section class="tagged tag-Analytics">
            <h2>Analytics</h2>
        
            <p>Nothing here yet...</p>
            
        </section>
        
        <section class="tagged tag-AM">
            <h2>Applications Manager</h2>
        
            <p>Nothing here yet...</p>
            
        </section>
        
        <section class="tagged tag-WebServices">
            <h2>Web Services</h2>
        
            <p>Nothing here yet...</p>
            
        </section>
        
    </div>
</div>