    <div id="tag-select" class="row">
        <div class="columns">
        <h4>Filter projects by tag:</h4>
            <form>
                <ul>
                    <li class="tag-General"><a onclick="toggleTag(this.parentNode)">General</a></li>
                    <li class="tag-WebServices"><a onclick="toggleTag(this.parentNode)">Web Sevices</a></li>
                    <li class="tag-AE"><a onclick="toggleTag(this.parentNode)">Automation Engine</a></li>
                    <li class="tag-Integrations"><a onclick="toggleTag(this.parentNode)">Integrations</a></li>
                    <li class="tag-Analytics"><a onclick="toggleTag(this.parentNode)">Analytics</a></li>
                    <li class="tag-AM"><a onclick="toggleTag(this.parentNode)">Applications Manager</a></li>
                    <li class="tag-DU"><a onclick="toggleTag(this.parentNode)">Dollar Universe</a></li>
                    <li class="tag-Templates"><a onclick="toggleTag(this.parentNode)">Templates</a></li>
                </ul>
            </form>
        </div>
    </div>